body {
    color: red;
    font-family: 'Libre Barcode 128 Text', cursive;
    font-size: 20pt;
}
header {
    color: blue;
}
footer{
    color: green;
}
li {
    color: purple;
}
ol li {
    color: teal;
    border: 5px dotted red;
}
span.first {
    color: blueviolet;
}
button {
    border: 2000px solid olive;
}
div#doubleBorder {
    border: 2000px solid red;
}