/* For desktop/laptop */
h1{
    font-size: 40px;
    text-align: center;
}

body{
    background-color: black;
    color: white;
}
#floater{
    float: right;
}
/* For phones */

/* For tablets/large phones */
@media(max-width: 992px){
    body{
        background-color: cyan;
        color:   blueviolet;
    }
    #floater{
        float: left;
    }
}
@media(max-width: 1200px){

    #floater{
        font-size: 24px;
        float: right;
    }
    
    body{
        background-color: blueviolet;
        color: cyan;
    
    }
}
